<body>
<div class="container is-fluid">
<nav class="navbar" role="navigation" aria-label="main navigation" style="margin-top: 10px; margin-bottom: 20px;">
  <div class="navbar-brand" >
    <a class="navbar-item" href="/" style="border-right: 1px solid #CCC">
      <img src="/static/philo.png" height="28"> &nbsp; &nbsp;<b>Alumni App</b>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/protected/view">
        View all alumni
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Configure App
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/protected/update">
            Update Sheet
          </a>
          <a class="navbar-item" href="/account/signup">
            Add Other Editors
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/account/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/account/login">
            Log in
          </a>
          <a class="button is-light" href="/account/logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
