<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="/static/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/jquery-ui.css">
  <script src="/static/jquery-ui.js"></script>

  <link href="/static/quill.snow.css" rel="stylesheet">
  <script src="/static/quill.js"></script>

  <script src="/static/papaparse.min.js"></script>
  <script src="/static/fuse.min.js"></script>

  <script src="/static/bulma-toast.min.js"></script>

  <link rel="stylesheet" href="/static/bulma.min.css">
  <link rel="stylesheet" href="/static/animate.min.css">
<style>
.heading {
  font-size: 16px;
}
.disp-container img{
  max-width: 50%;
  max-height: 400px;
}
.ql-editor {
  max-height: 300px
}

.image img {
    max-height: 460px !important;
    width: auto !important;
    margin: 0 auto;
}
</style>
</head>
