<body>
<div class="container is-fluid">
<nav class="navbar" role="navigation" aria-label="main navigation" style="margin-top: 10px; margin-bottom: 20px;">
  <div class="navbar-brand" >
    <a class="navbar-item" href="/" style="border-right: 1px solid #CCC">
      <img src="/static/philo.png" height="28"> &nbsp; &nbsp;<b>Alumni App</b>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/protected/alumni/view">
        View all alumni
      </a>

      <a class="navbar-item" href="/protected/update">
        Update Sheet
      </a>
      <a class="navbar-item" href="/protected/logs">
        View Logs
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if (locals.user) { %>
          Hi <%= locals.user.username %> 
        </div>
        <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/account/reset-password">
            Change Password
          </a>
          <a class="button is-primary" href="/account/logout">
            Log out
          </a>
        <% } else {%>
        <div class="buttons">
          <a class="button is-primary" href="/account/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/account/login">
            Log in
          </a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<% if (locals.messages && locals.messages.length > 0) { %>
  <script>
  bulmaToast.toast({ 
                   message: "<%= locals.messages[0].message %>", 
                   type: "is-<%= locals.messages[0].type %>",
                   dismissible: true,
                   animate: { in: "fadeIn", out: "fadeOut" }
  });
  </script>
<% } %>
  <script>
    console.log(<%- JSON.stringify(locals._locals) %>);
  </script>
