<%- include('partials/head.html') %>
<%- include('partials/header.html') %>
<style>
</style>
<form method="POST">
  <div class="field">
    <label class="label">
      Amount of Donation (estimate value if non-monetary) ONLY A NUMBER: 
    </label>
    <div class="control">
      <input class="input" type="text" name="donationAmount" value="<%= e.donationAmount %>">
    </div>
  </div>
  <div class="field">
    <label class="label">
    Date: 
    </label>
    <div class="control">
      <input class="input" type="text" name="dateDonated" id="datepicker" value="<%= e.dateDonated %>">
    </div>
  </div>
  <div class="field">
  <label class="label">
    Purpose of Donation + Any other info (e.g. if it is recurring) (link images > 2 mb in attachments section): 
  </label>
    <div id="quill-contain">
      <div id="editor">
      </div>
    </div>
    <input type="hidden" name="text">
  </div>

  <div class="field">
    <label class="label">Relevant Attachment Links (note link must be publicly accessible): </label>
    <div class="control">
      <input class="input" type="text" id="attachment"><br/><br/>
      <button class="button" id="add-attachment">Add attachment link</button><br/><br/>
    </div>
    <div id="attachments">
    </div>
  </div>
  <input type="hidden" name="attachmentLink" value="<%= e.attachmentLink %>">

  <div class="field">
    <div class="control">
    <% if (Object.keys(e).length > 0) { %>
    <input type="hidden" name="edit" value="<%= e._id %>">
    <button class="button is-link" type="submit" id="submit-form">EDIT DONATION</button>
    <% } else { %>
    <button class="button is-link" type="submit" id="submit-form">ADD DONATION</button>
    <% } %>
    </div>
  </div>
</form>

  <script>
  var attachments = [];
  function addAttachmentLink(link) {
    $('#attachments').append(`<li data-link="${link}"><a href="${link}">${link}</a> 
      <button class="button is-danger is-small is-outlined is-rounded" id="delete-attachment">Delete attachment</button></li>`)
    attachments.push(link);
  }
  var toolbarOptions = [['header', 'bold', 'italic'], ['link', 'image']];
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow',
  });
  <% if (e.text) { %>
      quill.root.innerHTML = '<%-JSON.parse(e.text)%>'
  <% } %>
  <% if (e.attachmentLink) { %>
      <% var c = e.attachmentLink.split(','); %>
      <% for (i in c) { %>
          addAttachmentLink("<%= c[i] %>");
      <% } %>
  <% } %>
  $(document).ready(function() {
    $("#datepicker").datepicker();
    $('#add-attachment').on('click', function(e) {
      e.preventDefault();
      var link = $('#attachment').val();
      addAttachmentLink(link);
    });
    $('#attachments').on('click', '#delete-attachment', function(e) {
      e.preventDefault();
      var link = $(this).parent().attr('data-link');
      var index = attachments.indexOf(link);
      if (index > -1) {
        attachments.splice(index, 1);
      }
      $(this).parent().remove();
      return false;
    });
    $('#submit-form').on('click', function(e) {
      e.preventDefault();
      var content = JSON.stringify(quill.root.innerHTML);
      $('input[name="text"]').val(content);
      $('input[name="attachmentLink"]').val(attachments.join(','));
      $('form').submit();
    });
  });
  </script>
<%- include('partials/footer.html') %>
