<%- include('partials/head.html') %>
<%- include('partials/header.html') %>
<style>
#comments-container, #disp-comments {
  width: 100%;
}
#disp-comments  img{
  max-width: 100%; 
  max-height: 300px;
}
</style>
<div class="columns">
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <% if (!person.profilePic) { %>
          <img class="img-prof" src="/static/philo.png" alt="Placeholder image">
          <% } else { %>
          <img class="img-prof" src="<%= person.profilePic %>">
          <% } %>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p class="title is-4">
          <%= person.firstName %> <%= person.middleName %> <%= person.lastName %> 
          </p>
          <p class="title is-6">
          Graduated <%= person.gradYear %>
          </p>
          <div class="field">
            <label class="label">Update Image Link</label>
            <div class="control">
              <input class="input" type="text" id="profile-pic" 
                                 value="<%= person.profilePic %>">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" id="update-prof">Update</button>
            </div>
          </div>
          <div class="field">
            <label class="label">Add Tag</label>
            <div class="control is-extended">
              <input class="input" id="tag-type" type="text">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button id="add-tag" class="button is-link">Add tag</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h1 class="title is-h1">Info</h1>
    <% for (var i = 0; i < person.correspondences.length; i++) { %>
    <% if (person.correspondences[i].sticky) { %>
    <div class="notification">
        Date: <%= person.correspondences[i].dateCorresponded %> | 
        <b><%= person.correspondences[i].corrTitle %></b>
        <% if (person.correspondences[i].tag) { %><span class="tag is-primary"><%= person.correspondences[i].tag %></span> <% } %>
        <a style="float: right" href="/protected/alumni/view-correspondence/<%=person.correspondences[i]._id%>">Read More</a>
    </div>
    <% } %>
    <% } %>
    <p><strong class="heading is-h3">Tags</strong>
          <div  class="field is-grouped is-grouped-multiline">
            <% for (var i = 0; i < person.tags.length; i++) { %>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-danger"><%=person.tags[i].tagName%></span>
                <a class="tag is-delete" 
                   href="/protected/alumni/<%=person._id%>/remove-tag/<%=person.tags[i]._id%>"></a>
              </div>
            </div>
            <% } %>
          </div>
    <br/>
    <p><strong class="heading is-h3">General Comments + Contact Info <em>(add more by clicking "Edit")</em></strong>:<br>
    <div id="disp-comments" style="display: block"></div>
    <div id="comments-container">
    <div id="comments"></div>
    </div>
    <br/>
    <button class="button" id="edit">Edit Comments</button>
    <br/>
    <br/>
    <p><strong class="heading is-h3">Penn/Philo Career:</strong>
    <br/>
    Admitted into Philo <%= person.admitYear %>.
    <%= person.pennCareer %></p>
    <br/>
    <p><strong class="heading is-h3">Post Penn Career:</strong><br/>
    <% if (person.postPennCareer) { %>
      <%= person.postPennCareer %>
    <% } else { %>
      No Info
    <% } %>
    </p>
    <br/>
      <p><strong class="heading is-h3">Correspondences/Note/Visits/Archival (<a href="/protected/alumni/<%= person._id %>/add-correspondence">Add Record</a>):</strong>
      <table class="table" style="width: 100%">
        <thead>
          <tr>
            <th>Link</th>
            <th>Delete</th>
            <th>Title of Record</th>
            <th>Date</th>
            <th>Tag</th>
          </tr>
        </thead>
        <% for (var i = 0; i < person.correspondences.length; i++) { %>
          <tr>
            <td><a href="/protected/alumni/view-correspondence/<%=person.correspondences[i]._id%>">View/Edit</a></td>
              <td><a href="/protected/alumni/delete-correspondence/<%=person.correspondences[i]._id%>">Delete</a></td>
              <td><%= person.correspondences[i].corrTitle %></td>
              <td><%= person.correspondences[i].dateCorresponded %></td>
              <td><% if (person.correspondences[i].tag) { %><span class="tag is-primary"><%= person.correspondences[i].tag %></span> <% } %></td>
          </tr>
        <% } %>
      </table>
      <p><strong class="heading is-h3">Donations (Total Monetary = <%= person.donorTotal %>; <a href="/protected/alumni/<%= person._id %>/add-donation">Add Donation</a>):</strong>
        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th>Link</th>
              <th>Delete</th>
              <th>Amount of Donation</th>
              <th>Date</th>
            </tr>
          </thead>
            <% for (var i = 0; i < person.donations.length; i++) { %>
            <tr>
              <td><a href="/protected/alumni/view-donation/<%=person.donations[i]._id%>">View/Edit</a></td>
              <td> <a href="/protected/alumni/delete-donation/<%=person.donations[i]._id%>">Delete</a></td>
              <td> <%= person.donations[i].donationAmount %></td> 
              <td> (<%= person.donations[i].dateDonated %>)</td>
            </tr>
          <% } %>
        </table>

    </p>
  </div>
    <script>
    var tagList = <%- JSON.stringify(tags) %>
    var toolbarOptions = [['header', 'bold', 'italic'], ['link', 'image']
    ];
    var quill = new Quill('#comments', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow',
    });
    <% try { (JSON.parse(person.genComments)); %>
        quill.root.innerHTML = '<%- JSON.parse(person.genComments) %>'
    <% } catch { %>
        quill.root.innerHTML = ''
    <% } %>
    var quillContent = quill.root.innerHTML

    $('#disp-comments').html(quill.root.innerHTML);
    var editMode = false;

    function hideQuill() {
      $('#disp-comments').css('display', 'block');
      $('#disp-comments').html(quill.root.innerHTML);
      $('#comments-container').css('display', 'none');
    }

    function showQuill() {
      $('#comments-container').css('display', 'block');;
      $('#disp-comments').css('display', 'none');;
      quill.root.innerHTML = quillContent;
    }
    $(document).ready(function() {
      hideQuill();
      $('#update-prof').on('click', function() {
        $.ajax({
            url: '/protected/alumni/<%= person._id %>/update-profile',
            method: 'POST',
            data: {
              link: $('#profile-pic').val()
            },
            success: function(d) {
              location.reload(true)
            }
        })
      });
      $('#disp-comments').html(quill.root.innerHTML);
      $('#edit').on('click', function () {
        if (editMode == true) {
          quillContent = quill.root.innerHTML;
        }

        editMode = !editMode;
        if (editMode == true) {
          showQuill();
          $('#edit').text('Submit edit');
        } else {
          quillContent = quill.root.innerHTML;
          $.ajax({
            url: '/protected/alumni/<%= person._id %>/update-comments',
            method: 'POST',
            data: {
              comment: JSON.stringify(quillContent)
            },
            success: function(d) {
              $('#edit').text('Edit Comments');
              hideQuill();
            }
          })
        }
      })
    var tl = tagList.map(i => i.tagName);
    $( "#tag-type" ).autocomplete({
      source: tl
    });
      $('#add-tag').on('click', function () { 
        console.log();
        $.ajax({
            url: '/protected/alumni/<%= person._id %>/add-tag',
            method: 'POST',
            data: {
              t: $('#tag-type').val()
            },
            success: function(d) {
              location.reload(true)
            }
        })
      })
    })
    </script>
</div>
<%- include('partials/footer.html') %>
