<%- include('partials/head.html') %>
<%- include('partials/header.html') %>
    <h1 class="title is-h1">Set Password</h1>
    <form method="POST">
      <div class="field">
        <label class="label">
          Password:
        </label>
        <div class="control">
          <input type="password" class="input" id="p1" name="password">
        </div>
      </div>
      <div class="field">
        <label class="label">
          Password (again):
        </label>
        <div class="control">
          <input type="password" class="input" id="p2">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button disabled class="button is-primary" type="submit">Set New Password</button>
        </div>
      </div>
    </form>

  <script>
$(document).ready(function () { 
  $('#p2').on('keyup', function () {
  if ($('#p1').val() == $('#p2').val()) {
    $('button[type="submit"]').attr('disabled', false)
  } else {
    $('button[type="submit"]').attr('disabled', true);
  }
})
})
  </script>
<%- include('partials/footer.html') %>
