<%- include('partials/head.html') %>
<%- include('partials/header.html') %>
<h1 class="title is-h1">Correspondence with <%= corr.alumniId.firstName %> <%= corr.alumniId.lastName %></h1>
<a class="button" href="/protected/alumni/<%= corr.alumniId._id %>">Go back to profile</a>
<a class="button" href="/protected/alumni/<%= corr.alumniId._id %>/add-correspondence/<%= corr._id %>">Edit Correspondence</a>

<br/>
<br/><br/>
<b class="heading">Title:</b><%= corr.corrTitle %><br/><br/><br/>
<b class="heading">Date:</b><%= corr.dateCorresponded %><br/><br/><br/>
<b class="heading">Tag:</b><%= corr.tag %><br/><br/><br/>
<b class="heading">Sticky:</b><%= corr.sticky ? 'True' : 'False' %><br/><br/><br/>
<b class="heading">Attachment Links:</b>
<% var c = corr.attachmentLink.split(','); %>
<% for (i in c) { %>
<li><a href="<%= c[i] %>"><%= c[i] %></a></li>
<% } %>
<br/><br/><br/>
<b class="heading">Text:</b><br/>
<div class="disp-container">
<%- JSON.parse(corr.text) %>
</div>
<%- include('partials/footer.html') %>
