<%- include('partials/head.html') %>
<script src="/static/sorttable.js"></script>
<%- include('partials/header.html') %>
<div class="field">
  <label class="label">Search all names:</label>
  <div class="control">
    <input class="input" id="any" type="text" placeholder="Type name, year, other info">
  </div>
</div>

<div class="field">
  <label class="label">Filter by tag:</label>
  <% for (var i = 0; i < tags.length; i++) { %>
  <label class="checkbox">
    <input type="checkbox" name="filter" value="<%= tags[i].tagName %>">
    <%= tags[i].tagName %>
  </label>&nbsp;&nbsp;&nbsp;&nbsp;
  <% } %>
</div>


<div style="overflow-x:auto;">
<table id="table" class="table is-striped sortable">

</table>
<style>
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
</style>
</div>

  <script>
    var newTableObject = null;
    var people = <%- JSON.stringify(people) %>
    window.data = people
    function debounce(func, wait, immediate) {
      var timeout;
      return function() {
        var context = this, args = arguments;
        var later = function() {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    };
    $(document).ready(function() {
      console.time('render');
      renderTable(people);
      console.timeEnd('render');
      var options = {
      keys: ['firstName', 'lastName', 'middleName', 'gradYear', 'admitYear', 
            'postPennCareer', 'pennCareer', 'tags']
      }
      var fuse = new Fuse(people, options)

      $('#any').on('keyup', debounce(function() {
        if ($('#any').val().length > 3) {
          var res = fuse.search($('#any').val());
          window.data = res.slice(0, 50);
          renderTable(res.slice(0, 50));
        } else if ($('#any').val().length == 0) {
          window.data = people;
          renderTable(people);
        }
      }, 500));
    })

    $("input[name='filter']").on('click', function() {
      renderTable(window.data);
    })

    function applyFilter(data) {
      console.log(data);
      var favorite = [];
      $.each($("input[name='filter']:checked"), function(){            
        favorite.push($(this).val());
      });
      console.log(favorite);
      if (favorite.length == 0) {
        return data;
      } else {
        return data.filter((i) => {
          var include = false;
          i.tags.forEach(j => {
            if (favorite.indexOf(j.tagName) > -1) { 
              include= true
            }
          })
          return include;
        })
      }
    }
    function renderTable(data) {
      var people = applyFilter(data);
      console.log(people);
      var t = document.querySelector('table');
      t.innerHTML = '';
      var c = document.createDocumentFragment();
      var e = document.createElement("thead");
      (e).innerHTML = `
                      
                         <tr>
                         <th>Link</th>
                         <th>Tag</th>
                         <th>Donation Total</th>
                         <th>Admit Year</th>
                         <th>First Name</th>
                         <th>Middle Name</th>
                         <th>Last Name</th>
                         <th>Grad Year</th>
                         <th>Penn Career</th>
                         <th>Post Penn Career</th>
                         </tr>
                         
                         `;
      c.appendChild(e);
      var r = document.createElement("tbody");
      for (p in people) {
        var e2 = document.createElement('tr')
        e2.innerHTML = `
                          <td><a href="/protected/alumni/${people[p]._id}">View</a></td>
                          <td>${people[p].tags ? people[p].tags.map(i => { 
                             return `<span class="tag is-primary">${i.tagName}</span>`
                           }).join('') : 'None'}
                          </td>
                          <td>${people[p].donorTotal ? people[p].donorTotal : 0}</td>
                          <td>${people[p].admitYear}</td>
                          <td>${ people[p].firstName }</td>
                          <td>${ people[p].middleName }</td>
                          <td>${ people[p].lastName }</td>
                          <td>${ people[p].gradYear }</td>
                          <td>${ people[p].pennCareer }</td>
                          <td>${ people[p].postPennCareer }</td>
                          
        `;
        r.appendChild(e2);
      }
      c.appendChild(r);
      t.appendChild(c);
      newTableObject = document.getElementById('table')
      sorttable.makeSortable(newTableObject);
    }
    $('body').on('click', 'th', function() {
      var by = $(this).text();
      bulmaToast.toast({
        message: "Sorting by " + by,
        dismissible: true,
        animate: { in: "fadeIn", out: "fadeOut" }
      })
    })
  </script>
<%- include('partials/footer.html') %>
